body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Microsoft JhengHei;

}

a {
    text-decoration: none;
}

#nav_outside_1.nav-link.out_white {
    color: white !important;
}

#nav_outside_2.nav-link.out_white {
    color: white !important;
}
.navbar.black{
    background-color: #00000062 !important;
}
.navbar {
    padding: 0 8px 0 0;
    position: fixed;
    width: 100%;
}

.bg-dark {
    background-color: #00000062 !important;
    transition: .3s;
}

.bg-dark:hover {
    background-color: #000000b9 !important;
}

.navbar-brand {
    padding: 0;
}

.nav_Logo {
    display: flex;
    justify-content: space-between;
}

.nav_Logo img {
    height: 100px;
}

.nav_textContain {
    text-align: center;
    display: block;
    margin: auto 0;
}


.nav_textContain h2 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.nav_textContain p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#toggle {
    width: 28px;
    height: 30px;
    padding-right: -10px;
    margin: 10px 0 10px 0;
    display: none;
}

#toggle div {
    width: 100%;
    height: 5px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

.navbar-nav a {
    font-size: 25px;
}

#FaceBook {
    margin-left: 60px;
    padding: 0;
}

#FaceBook img {
    margin-top: 35.5px;
}

ul {
    margin: 0 auto 0 auto;
}

ul li {
    margin-left: 0;
    margin-right: 30px;
    padding: 23.5px 0;
}

ul li a span {
    transition: .5s !important;
}

ul li a:hover {
    color: white !important;
}

ul li a:hover span {
    color: aqua !important;
}

.nav-item {
    position: relative;
}

.nav-item .nav_inside {
    position: absolute;
    top: 99.5px;
    background-color: #000000b9 !important;
    transition: .5s;
    height: 0%;

}

.nav_outside:hover .nav_inside {
    height: 106px;
}
.nav_inside a{
    display: none;
}
.nav_outside:hover .nav_inside a {
    color: white !important;
    display: block;
}

#FaceBook p {
    display: none;
}

main {
    height: 500vh;
    background-color: rgb(128, 128, 128);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: gray;
    color: white;
    text-align: center;
}

#FaceBook_footer {
    display: flex;
}

footer p {
    margin: 0;
}

#FaceBook_footer p:visited {
    color: white;
}

#FaceBook_footer img {
    height: 28px;
    margin-right: 10px;
}

#FaceBook_footer p {
    color: white;
}

@media(max-width:1220px) {
    .nav_textContain h2 {
        font-size: 20px;
    }

    .nav_textContain p {
        font-size: 15px;
    }

    .navbar-nav a {
        font-size: 20px;
    }

    ul li {
        margin-right: 15px;
    }

    #FaceBook {
        margin-left: 30px;
    }
    .nav_outside:hover .nav_inside {
    height: 92px;
   }
    .nav-item .nav_inside {
        top: 96.5px;
    }
}

@media(max-width:991px) {
    .navbar-brand {
        margin: 0 auto 0 auto;
        padding: 0;
        transform: translateX(+14px);
    }

    .nav_textContain {
        display: none;
    }

    ul li {
        margin: 0 auto;
        padding: 0;
    }

    #FaceBook img {
        display: none;
    }

    #FaceBook p {
        display: block;
    }

    #FaceBook {
        margin: 0 auto;
    }

    #FaceBook:hover span {
        color: aqua !important;
        transition: .5s;
    }

    #toggle {
        display: block;
    }

    .nav-item {
        position: unset;
    }

    .nav-item .nav_inside {
        background-color: unset !important;
        display: none;
    }
    .nav_outside:hover{
        padding-bottom:92px ;
    }
    .nav_outside:hover #nav_inside_1 {
        display: block;
        top: unset !important;
    }
    .nav_outside:hover #nav_inside_2 {
        display: block;
        top: unset !important;
    }
    .nav_inside:hover {
        display: block;
    }
}

@media(max-width:500px) {
    footer {
        flex-direction: column;
    }

    footer p {
        margin: 0 0 10px 0;
    }

    #FaceBook_footer {
        margin: 0 auto;
    }
}