@media(max-width:992px) {
    .order_not {
        order: 1;
    }
}

.con_text_NOT_center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.con_text_NOT {

    color: white;
    margin: auto 0;
}


.con_text_NOT span {
    font-size: 50px;
    letter-spacing: 15px;
    font-weight: bold;
}

.con_text_NOT p {
    font-size: 20px;
    letter-spacing: 5px;
}

.con_text_NOT_pic img {
    width: 100%;
}

.con_text_NOT_dis_none {
    display: none;
}

@media(max-width:1400px) {
    .con_text_NOT span {
        font-size: 40px;
        letter-spacing: 10px;
    }

    .con_text_NOT p {
        font-size: 10px;
        letter-spacing: 3px;
    }

}

@media(max-width: 1200px) {
    .con_text_NOT span {
        font-size: 30px;
        letter-spacing: 10px;
    }

    .con_text_NOT p {
        font-size: 10px;
        letter-spacing: 3px;
    }

}

@media(max-width:992px) {
    .con_text_NOT {
        display: none;
    }

    .con_text_NOT_dis_none {
        display: block;
        color: white;
        padding: 5%;
    }

    .con_text_NOT_dis_none span {
        font-size: 30px;
        letter-spacing: 5px;
    }

    .con_text_NOT_dis_none p {
        font-size: 15px;
        letter-spacing: 3px;
    }
}